<!-- <mat-toolbar color="primary">
  <span class="fill-remaining-space">Generate key for application</span>
</mat-toolbar>

 <app-generate-key></app-generate-key> -->
<!-- <app-login></app-login> --> 
<!-- <div class="container">
  <table class="table">
    <thead>
      <th>
        ID
      </th>
      <th>
        title
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let post of POSTS | paginate: {
        itemsPerPage:tableSize,
        currentPage:page,
        totalItems:count}; let i=index">
        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <pagination-controls
     previousLabel="Prev"
     nextLabel="Next"
     (pageChange)="onTableDataChange($event)"
    >
      
    </pagination-controls> 
  </div>
</div> -->
<p class="createPost">
  <button *ngIf="isButtonVisible" (click)="createPost()" mat-raised-button color="primary">Create Post</button>
</p>
<router-outlet></router-outlet>