<mat-toolbar color="primary">
  <span class="fill-remaining-space">Generate key for application</span>
</mat-toolbar>

<div class="parent">
   <form class="form" [formGroup]="generateKeyForm" (ngSubmit)="generateKey()">
    <mat-form-field appearance="fill">
      <mat-label>Application Name</mat-label>
      <input matInput formControlName="appName">
      <mat-error *ngIf="appName && appName.invalid && appName.touched" style="color: red;">Application name cannot be
        blank</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>App Id</mat-label>
      <input matInput formControlName="appId">
      <mat-error *ngIf="appId && appId.invalid && appId.touched" style="color: red;">Application Id cannot be
        blank</mat-error>
    </mat-form-field>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Valid Till</mat-label>
        <input matInput [matDatepicker]="picker" [min]="todayDate" formControlName="validTill">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="validTill && validTill.invalid && validTill.touched" style="color: red;">Valid date cannot be
          blank</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Owner Name</mat-label>
        <input type="text"
               aria-label="Owner Name"
               matInput
               formControlName="ownerName"
               [matAutocomplete]="auto1">
        
        <mat-autocomplete #auto1="matAutocomplete">
          <mat-option *ngFor="let name of filteredOptionsName | async" [value]="name">
            {{name}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="ownerName && ownerName.invalid && ownerName.touched" style="color: red;">Owner name cannot be
          blank</mat-error>
      </mat-form-field>
      
      
    </p>


    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Owner Email</mat-label>
      <input type="text"
             aria-label="Owner Email"
             matInput
             formControlName="ownerEmail"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let email of filteredOptionsEmail | async" [value]="email">
          {{email}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="ownerEmail.errors?.required && ownerEmail.touched" style="color: red;">email address cannot be
        blank</mat-error>
        <mat-error *ngIf="ownerEmail.errors?.pattern && ownerEmail.touched" style="color: red;">Please enter valid email
          address</mat-error>
    </mat-form-field>

    <ng-select [items]="categories" bindLabel="name" placeholder="Select Services" appendTo="body" [multiple]="true"
        [(ngModel)]="selected" [ngModelOptions]="{standalone: true}" [hideSelected]="true">
        
      </ng-select>

      
    <p class="generateButton">
      <button [disabled]="generateKeyForm.invalid" mat-raised-button color="primary">Generate</button>
    </p>  

  </form>

  
  <!-- <form class="form" [formGroup]="generateKeyForm" (ngSubmit)="generateKey()">
    <mat-form-field appearance="fill">
      <mat-label>Application Name</mat-label>
      <input matInput formControlName="appName">
      <mat-error *ngIf="appName && appName.invalid && appName.touched" style="color: red;">Application name cannot be
        blank</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>App Id</mat-label>
      <input matInput formControlName="appId">
      <mat-error *ngIf="appId && appId.invalid && appId.touched" style="color: red;">Application Id cannot be
        blank</mat-error>
    </mat-form-field>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Valid Till</mat-label>
        <input matInput [matDatepicker]="picker" [min]="todayDate" formControlName="validTill">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="validTill && validTill.invalid && validTill.touched" style="color: red;">Valid date cannot be
          blank</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Owner Name</mat-label>
        <input type="text"
               aria-label="Owner Name"
               matInput
               formControlName="ownerName"
               [matAutocomplete]="auto1">
        
        <mat-autocomplete #auto1="matAutocomplete">
          <mat-option *ngFor="let name of filteredOptionsName | async" [value]="name">
            {{name}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="ownerName && ownerName.invalid && ownerName.touched" style="color: red;">Owner name cannot be
          blank</mat-error>
      </mat-form-field>
      
      
    </p>


    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Owner Email</mat-label>
      <input type="text"
             aria-label="Owner Email"
             matInput
             formControlName="ownerEmail"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let email of filteredOptionsEmail | async" [value]="email">
          {{email}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="ownerEmail.errors?.required && ownerEmail.touched" style="color: red;">email address cannot be
        blank</mat-error>
        <mat-error *ngIf="ownerEmail.errors?.pattern && ownerEmail.touched" style="color: red;">Please enter valid email
          address</mat-error>
    </mat-form-field>

    <ng-select [items]="categories" bindLabel="name" placeholder="Select Services" appendTo="body" [multiple]="true"
        [(ngModel)]="selected" [ngModelOptions]="{standalone: true}" [hideSelected]="true">
        
      </ng-select>

      
    <p class="generateButton">
      <button [disabled]="generateKeyForm.invalid" mat-raised-button color="primary">Generate</button>
    </p>  

  </form>
   -->
        
</div>





<router-outlet></router-outlet>