

<div class="parent">
    <form class="form" [formGroup]="createPostForm">
        <h2>Create Post</h2>
        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
          </mat-form-field>

          <input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

   {{fileName || "No file uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>

    
</div>
<button (click)="uploadFile()" mat-raised-button color="primary">Submit</button> 

          <!-- <p class="uploadFile">
            <input type="file" class="file-upload" onchange="console.log(event.target.files)">
  
             <button  mat-raised-button color="primary">Upload</button> 
            
          </p> 
          <button  mat-raised-button color="primary">Submit</button> -->
    </form>   
    
          
  </div>
  
  
  
  
  
  <router-outlet></router-outlet>
