.fill-remaining-space {
   
    flex: 1 1 auto;
    text-align: center;
  }
.parent {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 5%;
 }

 mat-form-field {
   width: 80%; 
  }

.example-full-width {
  width: 60%;
}

/* .form {
   border: solid 3px black;
} */
 .generateButton {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-top: 15px;
 } 

 /* .fill-remaining-space {
   
    flex: 1 1 auto;
    text-align: center;
  }

.root {
   margin-left: 350px; 
   margin-top: 50px;   
} 

mat-form-field {
   width: 30%; 
   padding: 10px;
  }

.test {
   margin-left: 250px;
}

  */

  
